<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Vue TEST</title>
  <style>
    [v-cloak] {
      display: none
    }
  </style>
  <!-- Vue.js を読み込む -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <div id="app-1">{{ message }}</div> <!-- {{ message }} が Vueデータに置換される -->

  <div id="app-101">
    <div v-text="message"></div> <!-- この行と -->
    <div>{{ message }}</div> <!-- この行は、同じ意味を持ちます -->
  </div>

  <div id="app-102">
    <div v-text="message"></div> <!-- 置換される -->
    <div v-html="message"></div> <!-- 置換されない -->
  </div>

  <div id="app-103">
    <input type="checkbox" @click="change" checked>
    <span v-show="seen">Hello!</span>
  </div>

  <div id="app-104">
    <input type="checkbox" @click="change" checked>
    <span v-if="seen">Hello!</span>
  </div>

  <div id="app-105">
    <input type="checkbox" @click="change" checked>
    <span v-if="seen">Hello!</span>
    <span v-else>Bye!</span>
  </div>

  <div id="app-106">
    <input type="radio" name="app106-type" onclick="app106.type='A'" checked>
    <input type="radio" name="app106-type" onclick="app106.type='B'">
    <input type="radio" name="app106-type" onclick="app106.type='C'">
    <span v-if="type=='A'">Good morning.</span>
    <span v-else-if="type=='B'">Hello!</span>
    <span v-else>Bye!</span>
  </div>

  <div id="app-107">
    <ul>
      <li v-for="color in colorList">{{ color }}</li>
    </ul>
  </div>

  <div id="app-108">
    <button v-on:click.right="hello">Hello</button>
    <button @click.once="hello">Hello</button>
  </div>

  <div id="app-109">
    <input type="button" v-bind:value="message">
    <input type="button" :value="message">
  </div>

  <div id="app-120">
    <input v-model="message">
    <div>Message: {{ message }}</div>
  </div>

  <div id="app-121">
    <div v-pre>Message: {{ message }}</div>
    <div>Message: {{ message }}</div>
  </div>

  <div id="app-122">
    <button onclick="location.reload()">再表示</button>
    <div>Message: <span v-cloak>{{ message }}</span></div>
    <div>Message: <span>{{ message }}</span></div>
  </div>

  <div id="app-123">
    <input type="text" name="text1" v-model:value="message">
    <div>Message: <span v-once>{{ message }}</span></div>
    <div>Message: <span>{{ message }}</span></div>
  </div>

  <div id="app-140">
    <my-element-140></my-element-140>
  </div>

  <div id="app-141">
    <my-component-141></my-component-141>
  </div>

  <div id="app-142">
    <div>{{ message }}</div>
  </div>

  <div id="app-143">
    <input type="button" @click="addBlue" value="Add">
    <input type="button" @click="deleteBlue" value="Delete">
    <ul>
      <li v-for="(value, key) in colorList">{{ key }} = {{ value }}</li>
    </ul>
  </div>

  <div id="app-144">
    <div v-font16>Hello!</div>
  </div>

  <div id="app-145">
    <div>{{ message | toupper }}</div>
  </div>

  <script>
    // var VueRouter = require('vue-router');
    // Vue.use(VueRouter);

    window.setTimeout(function () {
      const app122 = new Vue({
        el: '#app-122',
        data: { message: 'Hello!' }
      })
    }, 1000);

    const app1 = new Vue({
      el: '#app-1',                        /* #app-1 要素に対して Vue を適用する */
      data: { message: 'Hello world!' }    /* message という名前のデータを定義する */
    })

    const app101 = new Vue({
      el: '#app-101',
      data: { message: 'Hello!' }
    })

    const app102 = new Vue({
      el: '#app-102',
      data: { message: '<b>Hello!</b>' }
    })

    const app103 = new Vue({
      el: '#app-103',
      data: { seen: true },
      methods: {
        change: function (e) {
          this.seen = e.target.checked
        }
      }
    })

    const app104 = new Vue({
      el: '#app-104',
      data: { seen: true },
      methods: {
        change: function (e) {
          this.seen = e.target.checked
        }
      }
    })

    const app105 = new Vue({
      el: '#app-105',
      data: { seen: true },
      methods: {
        change: function (e) {
          this.seen = e.target.checked
        }
      }
    })

    const app106 = new Vue({
      el: '#app-106',
      data: { type: 'A' }
    })

    const app107 = new Vue({
      el: '#app-107',
      data: { colorList: ['Red', 'Green', 'Blue'] }
    })

    const app108 = new Vue({
      el: '#app-108',
      methods: {
        hello: function () {
          alert("Hello!");
        }
      }
    })

    const app109 = new Vue({
      el: '#app-109',
      data: { message: 'Hello!' }
    })

    const app120 = new Vue({
      el: '#app-120',
      data: { message: 'Hello!' }
    })

    const app121 = new Vue({
      el: '#app-121',
      data: { message: 'Hello' }
    })

    const app123 = new Vue({
      el: '#app-123',
      data: { message: 'Hello' }
    })

    Vue.component('my-element-140', {
      template: '<strong>Hello</strong>'
    })
    const app140 = new Vue({
      el: '#app-140',
    })

    const MyComponent141 = Vue.extend({
      template: '<strong>Hello!</strong>'
    })
    Vue.component('my-component-141', MyComponent141)
    const app141 = new Vue({
      el: '#app-141',
    })

    const app142 = new Vue({
      el: '#app-142',
      data: {
        message: 'Hello!',
        msg1: '',
        msg2: ''
      }
    })
    app142.message = 'Bye!'
    console.log(app142.$el.textContent);
    Vue.nextTick(function () {
      console.log(app142.$el.textContent);
    })

    var app143 = new Vue({
      el: '#app-143',
      data: {
        colorList: {
          red: '#f00',
          green: '#0f0'
        }
      },
      methods: {
        addBlue: function () {
          Vue.set(this.colorList, 'blue', '#00f')
        },
        deleteBlue: function () {
          Vue.delete(this.colorList, 'blue')
        }
      }
    })

    // カスタムディレクティブ
    Vue.directive('font16', {
      inserted: function (el) {
        el.style.fontSize = '16pt';
        el.style.fontWeight = 'bold';
      }
    })
    var app144 = new Vue({
      el: '#app-144'
    })

    Vue.filter('toupper', function (value) {
      return value.toUpperCase()
    })
    var app145 = new Vue({
      el: '#app-145',
      data: { message: 'Hello!' }
    })

    Vue.mixin({
      created: function () {
        console.log(this);
      }
    })

    console.log(Vue.version);
  </script>

</body>

</html>