<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Vue TEST</title>
  <style>
    [v-cloak] {
      display: none
    }
  </style>
  <!-- Vue.js を読み込む -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <!-- basic -->
  <div id="app-1">{{ message }}</div> <!-- {{ message }} が Vueデータに置換される -->

  <!-- v-text -->
  <div id="app-101">
    <div v-text="message"></div> <!-- この行と -->
    <div>{{ message }}</div> <!-- この行は、同じ意味を持ちます -->
  </div>

  <!-- v-html -->
  <div id="app-102">
    <div v-text="message"></div> <!-- 置換される -->
    <div v-html="message"></div> <!-- 置換されない -->
  </div>

  <!-- v-show -->
  <div id="app-103">
    <input type="checkbox" @click="change" checked>
    <span v-show="seen">Hello!</span>
  </div>

  <!-- v-if -->
  <div id="app-104">
    <input type="checkbox" @click="change" checked>
    <span v-if="seen">Hello!</span>
  </div>

  <div id="app-105">
    <input type="checkbox" @click="change" checked>
    <span v-if="seen">Hello!</span>
    <span v-else>Bye!</span>
  </div>

  <div id="app-106">
    <input type="radio" name="app106-type" onclick="app106.type='A'" checked>
    <input type="radio" name="app106-type" onclick="app106.type='B'">
    <input type="radio" name="app106-type" onclick="app106.type='C'">
    <span v-if="type=='A'">Good morning.</span>
    <span v-else-if="type=='B'">Hello!</span>
    <span v-else>Bye!</span>
  </div>

  <div id="app-107">
    <ul>
      <li v-for="color in colorList">{{ color }}</li>
    </ul>
  </div>

  <div id="app-108">
    <button v-on:click.right="hello">Hello</button>
    <button @click.once="hello">Hello</button>
  </div>

  <div id="app-109">
    <input type="button" v-bind:value="message">
    <input type="button" :value="message">
  </div>

  <div id="app-120">
    <input v-model="message">
    <div>Message: {{ message }}</div>
  </div>

  <div id="app-121">
    <div v-pre>Message: {{ message }}</div>
    <div>Message: {{ message }}</div>
  </div>

  <div id="app-122">
    <button onclick="location.reload()">再表示</button>
    <div>Message: <span v-cloak>{{ message }}</span></div>
    <div>Message: <span>{{ message }}</span></div>
  </div>

  <div id="app-123">
    <input type="text" name="text1" v-model:value="message">
    <div>Message: <span v-once>{{ message }}</span></div>
    <div>Message: <span>{{ message }}</span></div>
  </div>

  <div id="app-140">
    <my-element-140></my-element-140>
  </div>

  <div id="app-141">
    <my-component-141></my-component-141>
  </div>

  <div id="app-142">
    <div>{{ message }}</div>
  </div>

  <div id="app-143">
    <input type="button" @click="addBlue" value="Add">
    <input type="button" @click="deleteBlue" value="Delete">
    <ul>
      <li v-for="(value, key) in colorList">{{ key }} = {{ value }}</li>
    </ul>
  </div>

  <div id="app-144">
    <div v-font16>Hello!</div>
  </div>

  <div id="app-145">
    <div>{{ message | toupper }}</div>
  </div>

  <div id="app-200">表示されないはず</div>

  <div id="app-201">{{ message }}</div>

  <div id="app-202">
    <my-element-202 value="Hello!"></my-element-202>
  </div>

  <div id="app-203">
    <div id="el-203"></div>
  </div>

  <div id="app-205">
    <button @click="toUpper">Upper</button>
    <button @click="toLower">Lower</button>
    <div>{{ message }}</div>
  </div>

  <div id="app-206">
    <form>
      <input type="text" name="text1" :value="message">
      <input type="button" @click="change" value="Change">
    </form>
    <div>変更前: {{ oldmsg }}</div>
    <div>変更後: {{ newmsg }}</div>
  </div>

  <div id="app-210" v-text="message"></div>

  <div id="app-211">
    <my-element-211></my-element-211>
  </div>

  <div id="app-212">
    <my-heading-212 :level="1">Hello!</my-heading-212>
  </div>

  <div id="app-213">
    <app213-heading :level="1">Hello!</app213-heading>
  </div>

  <div id="app-250">
    <div v-font16>Hello!</div>
  </div>

  <div id="app-251">
    <div>{{ message | toupper }}</div>
    <div>{{ message | tolower }}</div>
  </div>

  <div id="app-252">
    <my-comp1></my-comp1>
    <my-comp2></my-comp2>
    <my-comp3></my-comp3>
  </div>

  <div id="app-261">
    <input type="button" @click="hello" value="Hello">
  </div>

  <div id="app-301">
    <input type="text" @keyup.alt-h="help">
  </div>

  <script>
    // var VueRouter = require('vue-router');
    // Vue.use(VueRouter);

    const app1 = new Vue({
      el: '#app-1',                        /* #app-1 要素に対して Vue を適用する */
      data: { message: 'Hello world!' }    /* message という名前のデータを定義する */
    })

    const app101 = new Vue({
      el: '#app-101',
      data: { message: 'Hello!' }
    })

    const app102 = new Vue({
      el: '#app-102',
      data: { message: '<b>Hello!</b>' }
    })

    const app103 = new Vue({
      el: '#app-103',
      data: { seen: true },
      methods: {
        change: function (e) {
          this.seen = e.target.checked
        }
      }
    })

    // v-if：data内部の真偽値を元に描画する・しないを制御する
    // v-showではstyleのディスプレイ要素をnoneにするのに対してv-ifではそもそもタグを追加しないようにする
    const app104 = new Vue({
      el: '#app-104',
      data: { seen: true },
      methods: {
        change: function (e) {
          this.seen = e.target.checked
        }
      }
    })

    const app105 = new Vue({
      el: '#app-105',
      data: { seen: true },
      methods: {
        change: function (e) {
          this.seen = e.target.checked
        }
      }
    })

    const app106 = new Vue({
      el: '#app-106',
      data: { type: 'A' }
    })

    const app107 = new Vue({
      el: '#app-107',
      data: { colorList: ['Red', 'Green', 'Blue'] }
    })

    const app108 = new Vue({
      el: '#app-108',
      methods: {
        hello: function () {
          alert("Hello!");
        }
      }
    })

    const app109 = new Vue({
      el: '#app-109',
      data: { message: 'Hello!' }
    })

    const app120 = new Vue({
      el: '#app-120',
      data: { message: 'Hello!' }
    })

    const app121 = new Vue({
      el: '#app-121',
      data: { message: 'Hello' }
    })

    window.setTimeout(function () {
      const app122 = new Vue({
        el: '#app-122',
        data: { message: 'Hello!' }
      })
    }, 1000);

    const app123 = new Vue({
      el: '#app-123',
      data: { message: 'Hello' }
    })

    Vue.component('my-element-140', {
      template: '<strong>Hello</strong>'
    })
    const app140 = new Vue({
      el: '#app-140',
    })

    // extend：サブクラス
    // Vue.extend()はVue.componentの第二引数で指定可能なコンポーネントのサブクラスを生成する
    const MyComponent141 = Vue.extend({
      template: '<strong>Hello!</strong>'
    })
    Vue.component('my-component-141', MyComponent141)
    const app141 = new Vue({
      el: '#app-141',
    })

    // DOM更新サイクル後の実行(nextTick)
    const app142 = new Vue({
      el: '#app-142',
      data: {
        message: 'Hello!',
        msg1: '',
        msg2: ''
      }
    })
    app142.message = 'Bye!'
    console.log(app142.$el.textContent);
    Vue.nextTick(function () {
      console.log(app142.$el.textContent);
    })

    // 非リアクティブデータの設定、dataはgetter, setterをもち、それを用いることでVueが値を取得したり設定した際の変更を監視する
    // このやり方をしないで変更をすると変更を検知できずリアルタイムに更新されない
    var app143 = new Vue({
      el: '#app-143',
      data: {
        colorList: {
          red: '#f00',
          green: '#0f0'
        }
      },
      methods: {
        addBlue: function () {
          Vue.set(this.colorList, 'blue', '#00f')
        },
        deleteBlue: function () {
          Vue.delete(this.colorList, 'blue')
        }
      }
    })

    // カスタムディレクティブ
    Vue.directive('font16', {
      inserted: function (el) {
        el.style.fontSize = '16pt';
        el.style.fontWeight = 'bold';
      }
    })
    var app144 = new Vue({
      el: '#app-144'
    })

    Vue.filter('toupper', function (value) {
      return value.toUpperCase()
    })
    var app145 = new Vue({
      el: '#app-145',
      data: { message: 'Hello!' }
    })

    // mixin 今後やる予定
    Vue.mixin({
      created: function () {
        console.log(this);
      }
    })

    // コンパイル {{ message }} などの文字列をあらかじめコンパイルする
    var res = Vue.compile('<div>{{ message }}</div>');
    var app200 = new Vue({
      el: "#app-200",
      data: { message: 'Hello!' },
      render: res.render,
      staticRenderFns: res.staticRenderFns
    })

    // Vue.jsのバージョンを取得できる
    console.log(Vue.version);

    // dataは {{ ... }}, v-bin, v-modelなどで参照されるデータを格納する
    var app201 = new Vue({
      el: '#app-201',
      data: { message: 'Hello!' }
    })

    // props：コンポーネントにパラメータを引き渡す
    // propsを用いることでtemplate内で使用する属性を定義できる
    // 今回の例ではvalue属性をpropsで宣言することによってtemplate内部でvalueの値を参照することができる
    // 子コンポーネントから親コンポーネントの値を参照する際に用いるprops?
    Vue.component('my-element-202', {
      props: ['value'],
      template: '<div>{{ value }}</div>'
    })
    var app202 = new Vue({
      el: '#app-202'
    })

    // propsData：インスタンス作成中データ
    // インスタンス作成中のpropsデータを指定
    // 単体テストをする時に用いる
    var MyElement203 = Vue.extend({
      props: ['message'],
      template: '<div>{{ message }}</div>'
    })
    var vm = new MyElement203({
      propsData: { message: 'Hello!' }
    }).$mount('#el-203');
    var app203 = new Vue({
      el: '#app-203'
    })

    // methods：メソッド
    // methodsはv-onのイベントハンドラとして呼ばれるメソッドを定義できる
    // @はv-onの省略記法
    var app205 = new Vue({
      el: '#app-205',
      data: {
        message: 'Hello'
      },
      methods: {
        toUpper: function () {
          this.message = this.message.toUpperCase();
        },
        toLower: function () {
          this.message = this.message.toLowerCase();
        }
      }
    })

    // watch：監視
    // watchはデータの変動を監視する
    // データ変動時にコールバック関数が呼ばれ、引数には変更前の値と変更後の値が渡される
    var app206 = new Vue({
      el: '#app-206',
      data: {
        message: 'new',
        newmsg: 'new',
        oldmsg: 'old'
      },
      watch: {
        message: function (newVal, oldVal) {
          this.newmsg = newVal;
          this.oldmsg = oldVal;
        }
      },
      methods: {
        change: function (e) {
          this.message = e.target.form.text1.value;
        }
      }
    })

    // el
    var app210 = new Vue({
      el: '#app-210',
      data: { message: 'Hello!' }
    })

    // template
    Vue.component('my-element-211', {
      template: '<span>Hello!</span>'
    })
    var app211 = new Vue({
      el: '#app-211',
    })

    // レンダリング関数(render) 動的なテンプレートを作成できる
    Vue.component('my-heading-212', {
      render: function (createElement) {
        return createElement('h' + this.level, this.$slots.default)
      },
      props: ['level']
    })
    var app212 = new Vue({
      el: '#app-212',
    })

    // レンダリングエラーハンドリング
    Vue.component('app213-heading', {
      render: function (createElement) {
        throw new Error('err213')
      },
      renderError: function (ce, err) {
        return ce('pre', { style: { color: 'red' } }, err.stack)
      },
      props: ['level']
    })
    var app213 = new Vue({
      el: '#app-213',
    })

    // カスタムディレクティブ
    var app250 = new Vue({
      el: '#app-250',
      directives: {
        font16: {
          inserted: function (el) {
            el.style.fontSize = '16pt'
          }
        }
      }
    })

    // フィルタ
    var app251 = new Vue({
      el: '#app-251',
      data: { message: 'Hello!' },
      filters: {
        toupper: function (value) {
          return (value.toUpperCase())
        },
        tolower: function (value) {
          return (value.toLowerCase())
        }
      }
    })

    // コンポーネント
    var MyComp1 = { template: '<div style="color:red">Hello!</div>' }
    var MyComp2 = { template: '<div style="color:green">Hello!</div>' }
    var MyComp3 = { template: '<div style="color:blue">Hello!</div>' }
    var app252 = new Vue({
      el: '#app-252',
      components: {
        'my-comp1': MyComp1,
        'my-comp2': MyComp2,
        'my-comp3': MyComp3
      }
    })

    // mixin ある機能をライブラリのように取り込んで使う(再利用)ことができる
    var myMixin = {
      methods: {
        hello: function () {
          alert("Hello!");
        }
      }
    }
    var app261 = new Vue({
      el: '#app-261',
      mixins: [myMixin]
    })

    // コンフィグ

    // 警告やログの出力を抑止する
    Vue.config.silint = true

    // 開発モード切り替え true -> 開発モード, false -> 本番モード
    Vue.config.devtools = true

    // エラーハンドラの設定
    Vue.config.errorHandler = function (err, vm, info) { /* ... */ }

    // 警告ハンドラの設定
    Vue.config.warnHandler = function (msg, vm, trace) { /* ... */ }

    // 無視エレメント, Vue外部で作成されたWebコンポーネントのカスタムタグを無視するよう設定できる
    // 正規表現も使える
    Vue.config.ignoredElements = [
      'my-custom-web-component',
      'another-web-component',
      /^ion-/
    ]

    // キーコード, @keyup等で使われるキーコードの指定
    // 18はAltキー, 72はhのキーコード、-でつなぐキーコードの場合""で囲む
    Vue.config.keyCodes = {
      h: 72,
      "alt-h": [18, 72]
    }
    var app301 = new Vue({
      el: '#app-301',
      methods: {
        help: function () {
          alert("Help ...");
        }
      }
    })

    // パフォーマンス、trueにすると開発者ツールのタイムライン機能でパフォーマンスデータを詳細に表示することができる
    Vue.config.performance = true

    // プロダクションチップ、falseにすると起動時の製品ヒント情報の出力を抑止してくれる
    Vue.config.productionTip = false
  </script>

</body>

</html>